<!doctype html>

<!--[if lt IE 7]> 
	<html class="nojs ms lt_ie7" lang="fr"> 
<![endif]-->

<!--[if IE 7]>    
	<html class="nojs ms ie7" lang="fr"> 
<![endif]-->

<!--[if IE 8]>    
	<html class="nojs ms ie8" lang="fr"> 
<![endif]-->

<!--[if gt IE 8]> 
	<html class="nojs ms" lang="fr"> 
<![endif]-->

<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="PyroCMS Documentation en Francais">
	<meta name="author" content="PyroCMS France">
	
	<base href="{{ base_url }}" /> 

  	<title>{{ variables:get_var name="title" }} | {{ site_title }}</title>

  	{{ asset:css file="style.css" }}

  	<script src="assets/js/libs/modernizr.js"></script>
</head>

<body>
	
	<!-- header -->
	<header>
		<div class="wrapper">
			<div id="logo">
				<h1><a href="http://pyrocms.fr" title="Accueil">{{ asset:img file="logo.png" }}</a></h1>
			</div>
			<nav id="primary">
				<ul>
					<li{{ if segment_1 == 'general' }} class="current"{{ endif }}>{{ link uri="general" title="G&eacute;n&eacute;ralit&eacute;s" }}</li>
					<li{{ if segment_1 == 'modules-and-tags' }} class="current"{{ endif }}>{{ link uri="modules-and-tags" title="Modules &amp; Tags" }}</li>
					<li{{ if segment_1 == 'developper' }} class="current"{{ endif }}>{{ link uri="developper" title="Developpeur" }}</li>
					<li><a href="http://www.pyrocms.fr/contact"> Traduction en cours, Contactez nous !</a></li>
					 
					<!--<li{{ if segment_1 == 'developers' }} class="current"{{ endif }}>{{ link uri="developers" title="Developpeurs" }}</li>
					<li{{ if segment_1 == 'pyrocms-pro' }} class="current"{{ endif }}>{{ link uri="pyrocms-pro" title="PyroCMS Pro" }}</li> -->
				</ul>
			</nav>
		</div>
	</header>
	<!-- /header -->
	
	<!-- content -->
	<section id="content">
		<div class="wrapper">

			<!-- doc_menu -->
			<div id="doc_menu">
                                <h5>SOMMAIRE</h5>
                                {{ if !segment_1 }}
                                    <ul>
					<li{{ if segment_1 == 'general' }} class="current"{{ endif }}>{{ link uri="general" title="General Info" }}</li>
					<li{{ if segment_1 == 'modules-and-tags' }} class="current"{{ endif }}>{{ link uri="modules-and-tags" title="Modules &amp; Tags" }}</li>
					<li{{ if segment_1 == 'developers' }} class="current"{{ endif }}>{{ link uri="developers" title="Developers" }}</li>
					<li{{ if segment_1 == 'pyrocms-pro' }} class="current"{{ endif }}>{{ link uri="pyrocms-pro" title="PyroCMS Pro" }}</li>
				</ul>
                                {{ endif }}
				{{ if segment_1 == 'general' }}
					<p><strong>A propos de PyroCMS</strong></p>
					{{ nav:auto start='general/a-propos' }}

					<p><strong>Kit de d&eacute;marrage PyroCMS</strong></p>
					{{ nav:auto start='general/demarrer-avec-pyrocms' }}
		
					<!--<p><strong>Alternate Server Environments</strong></p>
					{{ nav:auto start='general/getting-started/alternate-server-environments' }} -->	

					<p><strong>Les Basiques</strong></p>
					{{ nav:auto start='general/les-basiques' }}

					<p><strong>Faire des Thèmes pour PyroCMS</strong></p>
					{{ nav:auto start='general/faire-des-themes-pyrocms' }}
				{{ endif }}

				{{ if segment_1 == 'modules-and-tags' }}
					<p><strong>Tag Reference</strong></p>
					{{ nav:auto start='modules-and-tags/tag-reference' }}	
				{{ endif }}

				{{ if segment_1 == 'developers' }}
					<p><strong>Pré-requis Développeur</strong></p>
					{{ nav:auto start='developers/basics' }}	

					<p><strong>Contribuer à PyroCMS</strong></p>
					{{ nav:auto start='developers/contributing' }}	

					<p><strong>Développement d'extensions</strong></p>
					{{ nav:auto start='developers/addons' }}
		
					<p><strong>Développement de modules</strong></p>	
					{{ nav:auto start='developers/addons/modules' }}

					<p><strong>Outils Développeur</strong></p>
					{{ nav:auto start='developers/tools' }}	

					<p><strong>Streams Core API</strong></p>
					{{ nav:auto start='developers/tools/streams-api' }}	
				{{ endif }}

				{{ if segment_1 == 'pyrocms-pro' }}
					<strong>About</strong>
					{{ nav:auto start='pyrocms-pro/about' }}	

					<strong>Features</strong>
					{{ nav:auto start='pyrocms-pro/features' }}	
				{{ endif }}
		</div>
		<!-- /doc_menu -->

		<!-- main -->
		<div id="main">